macros {

    /* LAYERS */

    ZMK_MACRO(overSYM,
        bindings = <&kp F23 &sl SYM>;
    )
    ZMK_MACRO(overNUM,
        bindings = <&kp F24 &sl NUM>;
    )

    /* SYMBOL SHORTCUTS */

    ZMK_MACRO(pairLtGt,
        bindings = <&kp LT &kp GT &kp LEFT>;
    )
    ZMK_MACRO(pairPar,
        bindings = <&kp LPAR &kp RPAR &kp LEFT>;
    )
    ZMK_MACRO(pairBrc,
        bindings = <&kp LBRC &kp RBRC &kp LEFT>;
    )
    ZMK_MACRO(pairBkt,
        bindings = <&kp LBKT &kp RBKT &kp LEFT>;
    )
    ZMK_MACRO(tripleGrave,
        bindings = <&kp GRAVE &kp GRAVE &kp GRAVE>;
    )

    /* H DIGRAPHS */

    ZMK_MACRO(Th,
        bindings = <&macro_tap &kp T>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp RSHFT>
                , <&macro_tap &kp H>;
    )
    ZMK_MACRO(Ch,
        bindings = <&macro_tap &kp C>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp RSHFT>
                , <&macro_tap &kp H>;
    )
    ZMK_MACRO(Wh,
        bindings =  <&macro_tap &kp W>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp RSHFT>
                , <&macro_tap &kp H>;
    )
    ZMK_MACRO(Sh,
        bindings = <&macro_tap &kp S>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp RSHFT>
                , <&macro_tap &kp H>;
    )
    ZMK_MACRO(Gh,
        bindings = <&macro_tap &kp G>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp RSHFT>
                , <&macro_tap &kp H>;
    )
    ZMK_MACRO(ght,
        bindings = <&kp G &kp H &kp T>;
    )
    ZMK_MACRO(Ph,
        bindings = <&macro_tap &kp P>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp RSHFT>
                , <&macro_tap &kp H>;
    )
    ZMK_MACRO(Sch,
        bindings = <&macro_tap &kp S>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp RSHFT>
                , <&macro_tap &kp C &kp H>;
    )
    ZMK_MACRO(Tch,
        bindings = <&macro_tap &kp T>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp RSHFT>
                , <&macro_tap &kp C &kp H>;
    )
    ZMK_MACRO(Qu,
        bindings = <&macro_tap &kp Q>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp RSHFT>
                , <&macro_tap &kp U>;
    )

};

