COMBO_LAYER(pn1Ss,   &kp LS(I),    RM4 LM2, BASE)    // "I"
COMBO_LAYER(pn1So,   &typePnMe,    RM4 LM3, BASE)    // "Me"
COMBO_LAYER(pn1Sp,   &typePnMy,    RM4 LB4, BASE)    // "My"
COMBO_LAYER(pn1Sps,  &typePnMine,  RM4 LB4 LB3, BASE) // "Mine"
COMBO_LAYER(pnIm,    &typePnIm,    RM4 LT3, BASE)    // "I'm"
COMBO_LAYER(pnIll,   &typePnIll,   RM4 LB3, BASE)    // "I'll"
COMBO_LAYER(pnIve,   &typePnIve,   RM4 LB5, BASE)    // "I've"
COMBO_LAYER(pnId,    &typePnId,    RM4 LB2, BASE)    // "I'd"

COMBO_LAYER(pn1Ps,   &typePnWe,    RB2 LM2, BASE)    // "We"
COMBO_LAYER(pn1Po,   &typePnUs,    RB2 LM3, BASE)    // "Us"
COMBO_LAYER(pn1Pp,   &typePnOur,   RB2 LB4, BASE)    // "Our"
COMBO_LAYER(pn1Pps,  &typePnOurs,  RB2 LB5 LB4, BASE) // "Ours"
COMBO_LAYER(pnWere,  &typePnWere,  RB2 L1h, BASE)    // "We're"
COMBO_LAYER(pnWell,  &typePnWell,  RB2 LB3, BASE)    // "We'll"
COMBO_LAYER(pnWeve,  &typePnWeve,  RB2 LB5, BASE)    // "We've"
COMBO_LAYER(pnWed,   &typePnWed,   RB2 LB2, BASE)    // "We'd"

COMBO_LAYER(pn2s,    &typePnYou,   RB4 LM2, BASE)    // "You"
COMBO_LAYER(pn2o,    &typePnYou,   RB4 LM3, BASE)    // "You" !! DUPE
COMBO_LAYER(pn2p,    &typePnYour,  RB4 LB4, BASE)    // "Your"
COMBO_LAYER(pn2ps,   &typePnYours, RB4 LB5 LB4, BASE) // "Yours"
COMBO_LAYER(pnYoure, &typePnYoure, RB4 L1h, BASE)    // "You're"
COMBO_LAYER(pnYoull, &typePnYoull, RB4 LB3, BASE)    // "You'll"
COMBO_LAYER(pnYouve, &typePnYouve, RB4 LB5, BASE)    // "You've"
COMBO_LAYER(pnYoud,  &typePnYoud,  RB4 LB2, BASE)    // "You'd"

COMBO_LAYER(pn3Ms,   &typePnHe,    RM5 LM2, BASE)    // "He"
COMBO_LAYER(pn3Mo,   &typePnHim,   RM5 LM3, BASE)    // "Him"
COMBO_LAYER(pn3Mp,   &typePnHis,   RM5 LB4, BASE)    // "His"
COMBO_LAYER(pn3Mps,  &typePnHis,   RM5 LB5 LB4, BASE) // "His" !! DUPE
COMBO_LAYER(pnHes,   &typePnHes,   RM5 LM5, BASE)    // "He's"
COMBO_LAYER(pnHell,  &typePnHell,  RM5 LB3, BASE)    // "He'll"
COMBO_LAYER(pnHed,   &typePnHed,   RM5 LB2, BASE)    // "He'd"

COMBO_LAYER(pn3Fs,   &typePnShe,   RM4 RM5 LM2, BASE) // "She"
COMBO_LAYER(pn3Fo,   &typePnHer,   RM4 RM5 LM3, BASE) // "Her"
COMBO_LAYER(pn3Fp,   &typePnHer,   RM4 RM5 LB4, BASE) // "Her" !! DUPE
COMBO_LAYER(pn3Fps,  &typePnHers,  RM4 RM5 LB5 LB4, BASE) // "Hers"
COMBO_LAYER(pnShes,  &typePnShes,  RM4 RM5 LM5, BASE) // "She's"
COMBO_LAYER(pnShell, &typePnShell, RM4 RM5 LB3, BASE) // "She'll"
COMBO_LAYER(pnShed,  &typePnShed,  RM4 RM5 LB2, BASE) // "She'd"

COMBO_LAYER(pn3Ps,   &typePnThey,  RM3 LM2, BASE)    // "They"
COMBO_LAYER(pn3Po,   &typePnThem,  RM3 LM3, BASE)    // "Them"
COMBO_LAYER(pn3Pp,   &typePnTheir, RM3 LB4, BASE)    // "Their"
COMBO_LAYER(pn3Pps,  &typePnTheirs,  RM3 LB5 LB4, BASE) // "Theirs"
COMBO_LAYER(pnTheyre, &typePnTheyre, RM3 L1h, BASE)  // "They're"
COMBO_LAYER(pnTheyll, &typePnTheyll, RM3 LB3, BASE)  // "They'll"
COMBO_LAYER(pnTheyve, &typePnTheyve, RM3 LB5, BASE)  // "They've"
COMBO_LAYER(pnTheyd,  &typePnTheyd,  RM3 LB2, BASE)  // "They'd"